container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic -c --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "starter.settings"
    "PYTHONPATH": "/opt/python/current/app/starter:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: starter/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "assets/static"